USE [master]
GO
/****** Object:  Database [WarehouseAPI]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE DATABASE [WarehouseAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WarehouseAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WarehouseAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseAPI]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inbound_item_stack_units]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inbound_item_stack_units](
	[layout_id] [int] IDENTITY(1,1) NOT NULL,
	[inbound_item_id] [int] NOT NULL,
	[unit_index] [int] NOT NULL,
	[local_x] [decimal](10, 2) NOT NULL,
	[local_y] [decimal](10, 2) NOT NULL,
	[local_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[rotation_y] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[layout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inbound_items]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inbound_items](
	[inbound_item_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[pallet_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[stack_mode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inbound_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inbound_receipts]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inbound_receipts](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[zone_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[receipt_number] [varchar](100) NOT NULL,
	[total_items] [int] NOT NULL,
	[total_pallets] [int] NOT NULL,
	[inbound_date] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[auto_stack_template] [varchar](50) NULL,
	[stack_mode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_allocations]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_allocations](
	[allocation_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[pallet_id] [int] NOT NULL,
	[position_x] [decimal](10, 2) NULL,
	[position_y] [decimal](10, 2) NULL,
	[position_z] [decimal](10, 2) NULL,
	[allocated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[allocation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_location_history]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_location_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[pallet_id] [int] NULL,
	[location_id] [int] NULL,
	[action_type] [varchar](20) NOT NULL,
	[action_date] [datetime2](7) NULL,
	[performed_by] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[qr_code] [varchar](100) NOT NULL,
	[product_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[item_name] [nvarchar](300) NOT NULL,
	[item_type] [varchar](20) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[weight] [decimal](10, 2) NULL,
	[shape] [varchar](20) NOT NULL,
	[priority_level] [int] NOT NULL,
	[is_heavy] [bit] NOT NULL,
	[is_fragile] [bit] NOT NULL,
	[is_non_stackable] [bit] NOT NULL,
	[batch_number] [nvarchar](100) NULL,
	[manufacturing_date] [date] NULL,
	[expiry_date] [date] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[total_amount] [decimal](18, 2) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[outbound_items]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outbound_items](
	[outbound_item_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[removed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[outbound_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[outbound_pallet_picks]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outbound_pallet_picks](
	[pick_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[pallet_id] [int] NOT NULL,
	[picked_at] [datetime2](7) NULL,
	[picked_by] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pick_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[outbound_receipts]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outbound_receipts](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[receipt_number] [varchar](100) NOT NULL,
	[total_items] [int] NOT NULL,
	[outbound_date] [datetime2](7) NULL,
	[completed_date] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pallet_locations]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pallet_locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[pallet_id] [int] NOT NULL,
	[zone_id] [int] NOT NULL,
	[shelf_id] [int] NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[rotation_y] [decimal](10, 4) NOT NULL,
	[stack_level] [int] NOT NULL,
	[stacked_on_pallet] [int] NULL,
	[is_ground] [bit] NOT NULL,
	[assigned_at] [datetime2](7) NULL,
	[location_code]  AS ('LOC-'+right('000000'+CONVERT([varchar](6),[location_id]),(6))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pallet_templates]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pallet_templates](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[template_name] [nvarchar](200) NOT NULL,
	[pallet_type] [nvarchar](50) NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[max_weight] [decimal](10, 2) NOT NULL,
	[max_stack_height] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pallets]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pallets](
	[pallet_id] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [varchar](100) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[max_weight] [decimal](10, 2) NOT NULL,
	[max_stack_height] [decimal](10, 2) NOT NULL,
	[pallet_type] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [varchar](100) NOT NULL,
	[product_name] [nvarchar](300) NOT NULL,
	[description] [nvarchar](max) NULL,
	[unit] [nvarchar](50) NOT NULL,
	[category] [nvarchar](100) NULL,
	[standard_length] [decimal](10, 2) NULL,
	[standard_width] [decimal](10, 2) NULL,
	[standard_height] [decimal](10, 2) NULL,
	[standard_weight] [decimal](10, 2) NULL,
	[is_fragile] [bit] NOT NULL,
	[is_hazardous] [bit] NOT NULL,
	[is_non_stackable] [bit] NOT NULL,
	[storage_conditions] [nvarchar](max) NULL,
	[create_user] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[racks]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[racks](
	[rack_id] [int] IDENTITY(1,1) NOT NULL,
	[zone_id] [int] NOT NULL,
	[rack_name] [nvarchar](200) NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[max_shelves] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[rack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shelves]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shelves](
	[shelf_id] [int] IDENTITY(1,1) NOT NULL,
	[rack_id] [int] NOT NULL,
	[shelf_level] [int] NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[max_weight] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[shelf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_gates]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_gates](
	[gate_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[gate_name] [nvarchar](200) NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NULL,
	[width] [decimal](10, 2) NULL,
	[height] [decimal](10, 2) NULL,
	[gate_type] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[gate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_zones]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_zones](
	[zone_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[zone_name] [nvarchar](200) NULL,
	[customer_id] [int] NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[zone_type] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouses]    Script Date: 12/17/2025 11:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NOT NULL,
	[warehouse_name] [nvarchar](200) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[warehouse_type] [varchar](20) NOT NULL,
	[allowed_item_types] [nvarchar](max) NULL,
	[checkin_position_x] [decimal](10, 2) NULL,
	[checkin_position_y] [decimal](10, 2) NULL,
	[checkin_position_z] [decimal](10, 2) NULL,
	[checkin_length] [decimal](10, 2) NULL,
	[checkin_width] [decimal](10, 2) NULL,
	[checkin_height] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([account_id], [username], [password_hash], [full_name], [email], [phone], [role], [created_at], [updated_at], [status]) VALUES (1, N'admin', N'admin123', N'Quản trị hệ thống', N'admin@example.com', N'0900000000', N'admin', CAST(N'2025-12-17T22:58:50.8800000' AS DateTime2), CAST(N'2025-12-17T22:58:50.8800000' AS DateTime2), N'active')
INSERT [dbo].[accounts] ([account_id], [username], [password_hash], [full_name], [email], [phone], [role], [created_at], [updated_at], [status]) VALUES (2, N'chukhoa', N'$2a$11$BWNG5pW0X8ywfQyHsMYUBeEU8sm5kuQoDK40I.c7OA0CcvHskB..2', N'Chủ kho', N'owner@example.com', N'0900000001', N'warehouse_owner', CAST(N'2025-12-17T22:58:50.8800000' AS DateTime2), CAST(N'2025-12-17T22:58:50.8800000' AS DateTime2), N'active')
INSERT [dbo].[accounts] ([account_id], [username], [password_hash], [full_name], [email], [phone], [role], [created_at], [updated_at], [status]) VALUES (3, N'customer_a', N'$2a$11$BWNG5pW0X8ywfQyHsMYUBeEU8sm5kuQoDK40I.c7OA0CcvHskB..2', N'Khách hàng A - Lan', N'customer_a@example.com', N'0900000002', N'customer', CAST(N'2025-12-17T22:58:50.8800000' AS DateTime2), CAST(N'2025-12-17T22:58:50.8800000' AS DateTime2), N'active')
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[inbound_item_stack_units] ON 

INSERT [dbo].[inbound_item_stack_units] ([layout_id], [inbound_item_id], [unit_index], [local_x], [local_y], [local_z], [length], [width], [height], [rotation_y]) VALUES (151, 5, 0, CAST(-0.25 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(-0.25 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[inbound_item_stack_units] ([layout_id], [inbound_item_id], [unit_index], [local_x], [local_y], [local_z], [length], [width], [height], [rotation_y]) VALUES (152, 5, 1, CAST(0.25 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(-0.25 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[inbound_item_stack_units] ([layout_id], [inbound_item_id], [unit_index], [local_x], [local_y], [local_z], [length], [width], [height], [rotation_y]) VALUES (153, 5, 2, CAST(-0.25 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(0.25 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[inbound_item_stack_units] OFF
GO
SET IDENTITY_INSERT [dbo].[inbound_items] ON 

INSERT [dbo].[inbound_items] ([inbound_item_id], [receipt_id], [item_id], [pallet_id], [quantity], [stack_mode]) VALUES (1, 1, 1, 1, 20, N'auto')
INSERT [dbo].[inbound_items] ([inbound_item_id], [receipt_id], [item_id], [pallet_id], [quantity], [stack_mode]) VALUES (2, 1, 2, 2, 20, N'manual')
INSERT [dbo].[inbound_items] ([inbound_item_id], [receipt_id], [item_id], [pallet_id], [quantity], [stack_mode]) VALUES (3, 1, 3, 3, 20, N'auto')
SET IDENTITY_INSERT [dbo].[inbound_items] OFF
GO
SET IDENTITY_INSERT [dbo].[inbound_receipts] ON 

INSERT [dbo].[inbound_receipts] ([receipt_id], [warehouse_id], [zone_id], [customer_id], [receipt_number], [total_items], [total_pallets], [inbound_date], [notes], [created_by], [status], [auto_stack_template], [stack_mode]) VALUES (1, 1, 2, 4, N'IN-20251217-201d6b7d', 80, 4, CAST(N'2025-12-17T23:27:48.0241732' AS DateTime2), NULL, 4, N'completed', N'straight', N'auto')
INSERT [dbo].[inbound_receipts] ([receipt_id], [warehouse_id], [zone_id], [customer_id], [receipt_number], [total_items], [total_pallets], [inbound_date], [notes], [created_by], [status], [auto_stack_template], [stack_mode]) VALUES (2, 1, 3, 4, N'IN-20251217-dd005d08', 135, 8, CAST(N'2025-12-17T23:31:41.2658273' AS DateTime2), NULL, 4, N'completed', NULL, N'manual')
SET IDENTITY_INSERT [dbo].[inbound_receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[item_allocations] ON 

INSERT [dbo].[item_allocations] ([allocation_id], [item_id], [pallet_id], [position_x], [position_y], [position_z], [allocated_at]) VALUES (1, 5, 5, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-12-17T23:34:08.5909457' AS DateTime2))
INSERT [dbo].[item_allocations] ([allocation_id], [item_id], [pallet_id], [position_x], [position_y], [position_z], [allocated_at]) VALUES (2, 6, 6, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-12-17T23:34:08.5968697' AS DateTime2))
INSERT [dbo].[item_allocations] ([allocation_id], [item_id], [pallet_id], [position_x], [position_y], [position_z], [allocated_at]) VALUES (3, 7, 7, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-12-17T23:34:08.5969739' AS DateTime2))
SET IDENTITY_INSERT [dbo].[item_allocations] OFF
GO
SET IDENTITY_INSERT [dbo].[items] ON 

SET IDENTITY_INSERT [dbo].[items] OFF
GO
SET IDENTITY_INSERT [dbo].[pallet_locations] ON 

INSERT [dbo].[pallet_locations] ([location_id], [pallet_id], [zone_id], [shelf_id], [position_x], [position_y], [position_z], [rotation_y], [stack_level], [stacked_on_pallet], [is_ground], [assigned_at]) VALUES (1, 5, 3, 18, CAST(32.50 AS Decimal(10, 2)), CAST(3.50 AS Decimal(10, 2)), CAST(21.00 AS Decimal(10, 2)), CAST(0.0000 AS Decimal(10, 4)), 1, NULL, 0, CAST(N'2025-12-17T23:34:08.5661563' AS DateTime2))
INSERT [dbo].[pallet_locations] ([location_id], [pallet_id], [zone_id], [shelf_id], [position_x], [position_y], [position_z], [rotation_y], [stack_level], [stacked_on_pallet], [is_ground], [assigned_at]) VALUES (2, 6, 3, 15, CAST(27.60 AS Decimal(10, 2)), CAST(3.50 AS Decimal(10, 2)), CAST(21.00 AS Decimal(10, 2)), CAST(0.0000 AS Decimal(10, 4)), 1, NULL, 0, CAST(N'2025-12-17T23:34:08.5894250' AS DateTime2))
INSERT [dbo].[pallet_locations] ([location_id], [pallet_id], [zone_id], [shelf_id], [position_x], [position_y], [position_z], [rotation_y], [stack_level], [stacked_on_pallet], [is_ground], [assigned_at]) VALUES (3, 7, 3, 18, CAST(33.50 AS Decimal(10, 2)), CAST(3.50 AS Decimal(10, 2)), CAST(21.00 AS Decimal(10, 2)), CAST(0.0000 AS Decimal(10, 4)), 1, NULL, 0, CAST(N'2025-12-17T23:34:08.5902712' AS DateTime2))
SET IDENTITY_INSERT [dbo].[pallet_locations] OFF
GO
SET IDENTITY_INSERT [dbo].[pallet_templates] ON 

INSERT [dbo].[pallet_templates] ([template_id], [template_name], [pallet_type], [length], [width], [height], [max_weight], [max_stack_height], [description], [is_active], [created_at], [updated_at]) VALUES (2, N'Pallet tiêu chuẩn 1219x1016mm', N'Standard', CAST(1.22 AS Decimal(10, 2)), CAST(1.02 AS Decimal(10, 2)), CAST(0.15 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), N'Pallet tiêu chuẩn Mỹ, kích thước 1219x1016mm (48x40 inch)', 1, CAST(N'2025-12-17T22:58:51.1333333' AS DateTime2), CAST(N'2025-12-17T22:58:51.1333333' AS DateTime2))
INSERT [dbo].[pallet_templates] ([template_id], [template_name], [pallet_type], [length], [width], [height], [max_weight], [max_stack_height], [description], [is_active], [created_at], [updated_at]) VALUES (3, N'Pallet nhỏ 1000x600mm', N'Small', CAST(1.00 AS Decimal(10, 2)), CAST(0.60 AS Decimal(10, 2)), CAST(0.15 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), CAST(1.20 AS Decimal(10, 2)), N'Pallet nhỏ, phù hợp cho hàng hóa có kích thước nhỏ hoặc trọng lượng nhẹ', 1, CAST(N'2025-12-17T22:58:51.1333333' AS DateTime2), CAST(N'2025-12-17T22:58:51.1333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[pallet_templates] OFF
GO
SET IDENTITY_INSERT [dbo].[pallets] ON 

INSERT [dbo].[pallets] ([pallet_id], [barcode], [length], [width], [height], [max_weight], [max_stack_height], [pallet_type], [created_at], [status]) VALUES (1, N'PLT-20251217232747-4b1ea89264734cf1afcd8ffc9b225943', CAST(1.50 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(0.15 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), NULL, CAST(N'2025-12-17T23:27:47.9850423' AS DateTime2), N'available')
INSERT [dbo].[pallets] ([pallet_id], [barcode], [length], [width], [height], [max_weight], [max_stack_height], [pallet_type], [created_at], [status]) VALUES (2, N'PLT-20251217232748-a71a873c2ffa4149b2968af2ab1b594f', CAST(1.50 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(0.15 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), NULL, CAST(N'2025-12-17T23:27:48.0186044' AS DateTime2), N'available')
INSERT [dbo].[pallets] ([pallet_id], [barcode], [length], [width], [height], [max_weight], [max_stack_height], [pallet_type], [created_at], [status]) VALUES (3, N'PLT-20251217232748-e53a76d8c05c47f6869d0c6675ee105c', CAST(1.50 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(0.15 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), NULL, CAST(N'2025-12-17T23:27:48.0206285' AS DateTime2), N'available')
SET IDENTITY_INSERT [dbo].[pallets] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[racks] ON 

INSERT [dbo].[racks] ([rack_id], [zone_id], [rack_name], [position_x], [position_y], [position_z], [length], [width], [height], [max_shelves], [created_at]) VALUES (1, 4, N'Kệ C1', CAST(46.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), 4, CAST(N'2025-12-17T22:58:51.0900000' AS DateTime2))
INSERT [dbo].[racks] ([rack_id], [zone_id], [rack_name], [position_x], [position_y], [position_z], [length], [width], [height], [max_shelves], [created_at]) VALUES (2, 4, N'Kệ C2', CAST(51.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), 4, CAST(N'2025-12-17T22:58:51.0900000' AS DateTime2))
INSERT [dbo].[racks] ([rack_id], [zone_id], [rack_name], [position_x], [position_y], [position_z], [length], [width], [height], [max_shelves], [created_at]) VALUES (3, 4, N'Kệ C3', CAST(56.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), 4, CAST(N'2025-12-17T22:58:51.0900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[racks] OFF
GO
SET IDENTITY_INSERT [dbo].[shelves] ON 

INSERT [dbo].[shelves] ([shelf_id], [rack_id], [shelf_level], [position_y], [length], [width], [max_weight], [created_at]) VALUES (1, 1, 1, CAST(0.50 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-12-17T22:58:51.1233333' AS DateTime2))
INSERT [dbo].[shelves] ([shelf_id], [rack_id], [shelf_level], [position_y], [length], [width], [max_weight], [created_at]) VALUES (2, 1, 2, CAST(2.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(400.00 AS Decimal(10, 2)), CAST(N'2025-12-17T22:58:51.1233333' AS DateTime2))
INSERT [dbo].[shelves] ([shelf_id], [rack_id], [shelf_level], [position_y], [length], [width], [max_weight], [created_at]) VALUES (3, 1, 3, CAST(3.50 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), CAST(N'2025-12-17T22:58:51.1233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[shelves] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouse_gates] ON 

INSERT [dbo].[warehouse_gates] ([gate_id], [warehouse_id], [gate_name], [position_x], [position_y], [position_z], [length], [width], [height], [gate_type], [created_at]) VALUES (1, 1, N'Cổng ra 1', CAST(1.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(2.50 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(2.40 AS Decimal(10, 2)), N'exit', CAST(N'2025-12-17T22:58:51.0200000' AS DateTime2))
INSERT [dbo].[warehouse_gates] ([gate_id], [warehouse_id], [gate_name], [position_x], [position_y], [position_z], [length], [width], [height], [gate_type], [created_at]) VALUES (2, 1, N'Cổng ra 2', CAST(48.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(2.40 AS Decimal(10, 2)), N'exit', CAST(N'2025-12-17T22:58:51.0200000' AS DateTime2))
INSERT [dbo].[warehouse_gates] ([gate_id], [warehouse_id], [gate_name], [position_x], [position_y], [position_z], [length], [width], [height], [gate_type], [created_at]) VALUES (3, 2, N'Cổng ra 1', CAST(3.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(1.50 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(0.25 AS Decimal(10, 2)), CAST(2.20 AS Decimal(10, 2)), N'exit', CAST(N'2025-12-17T22:58:51.0200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[warehouse_gates] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouse_zones] ON 

INSERT [dbo].[warehouse_zones] ([zone_id], [warehouse_id], [zone_name], [customer_id], [position_x], [position_y], [position_z], [length], [width], [height], [zone_type], [created_at]) VALUES (1, 1, N'Khu A - Khách Lan', 3, CAST(5.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), N'ground', CAST(N'2025-12-17T22:58:51.0200000' AS DateTime2))
INSERT [dbo].[warehouse_zones] ([zone_id], [warehouse_id], [zone_name], [customer_id], [position_x], [position_y], [position_z], [length], [width], [height], [zone_type], [created_at]) VALUES (2, 1, N'Khu B - Khách Hùng', 4, CAST(22.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), N'ground', CAST(N'2025-12-17T22:58:51.0200000' AS DateTime2))
INSERT [dbo].[warehouse_zones] ([zone_id], [warehouse_id], [zone_name], [customer_id], [position_x], [position_y], [position_z], [length], [width], [height], [zone_type], [created_at]) VALUES (3, 1, N'Khu B Rack - Khách Hùng', 4, CAST(22.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(19.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), N'rack', CAST(N'2025-12-17T22:58:51.0200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[warehouse_zones] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouses] ON 

SET IDENTITY_INSERT [dbo].[warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__F3DBC57207E65256]    Script Date: 12/17/2025 11:36:31 PM ******/
ALTER TABLE [dbo].[accounts] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_item_stack_units_inbound_item]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_item_stack_units_inbound_item] ON [dbo].[inbound_item_stack_units]
(
	[inbound_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__inbound___89FE4B754C7A1D70]    Script Date: 12/17/2025 11:36:31 PM ******/
ALTER TABLE [dbo].[inbound_receipts] ADD UNIQUE NONCLUSTERED 
(
	[receipt_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_customer]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_customer] ON [dbo].[inbound_receipts]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_date]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_date] ON [dbo].[inbound_receipts]
(
	[inbound_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_warehouse]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_warehouse] ON [dbo].[inbound_receipts]
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_item_allocations_pallet]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_item_allocations_pallet] ON [dbo].[item_allocations]
(
	[pallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__items__E2FB8889371725C6]    Script Date: 12/17/2025 11:36:31 PM ******/
ALTER TABLE [dbo].[items] ADD UNIQUE NONCLUSTERED 
(
	[qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_items_customer]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_items_customer] ON [dbo].[items]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_items_product]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_items_product] ON [dbo].[items]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_outbound_pallet_picks_receipt_pallet]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_outbound_pallet_picks_receipt_pallet] ON [dbo].[outbound_pallet_picks]
(
	[receipt_id] ASC,
	[pallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__outbound__89FE4B750735F18C]    Script Date: 12/17/2025 11:36:31 PM ******/
ALTER TABLE [dbo].[outbound_receipts] ADD UNIQUE NONCLUSTERED 
(
	[receipt_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pallet_locations_shelf]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_pallet_locations_shelf] ON [dbo].[pallet_locations]
(
	[shelf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pallet_locations_zone]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_pallet_locations_zone] ON [dbo].[pallet_locations]
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pallets__C16E36F809C0EAFA]    Script Date: 12/17/2025 11:36:31 PM ******/
ALTER TABLE [dbo].[pallets] ADD UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__AE1A8CC428809D43]    Script Date: 12/17/2025 11:36:31 PM ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_products_category]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_category] ON [dbo].[products]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_racks_zone]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_racks_zone] ON [dbo].[racks]
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_shelves_rack]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_shelves_rack] ON [dbo].[shelves]
(
	[rack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_shelf_level]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_shelf_level] ON [dbo].[shelves]
(
	[rack_id] ASC,
	[shelf_level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_zones_customer]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_zones_customer] ON [dbo].[warehouse_zones]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_zones_warehouse]    Script Date: 12/17/2025 11:36:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_zones_warehouse] ON [dbo].[warehouse_zones]
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[inbound_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[inbound_items] ADD  DEFAULT ('auto') FOR [stack_mode]
GO
ALTER TABLE [dbo].[inbound_receipts] ADD  DEFAULT (getdate()) FOR [inbound_date]
GO
ALTER TABLE [dbo].[inbound_receipts] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[inbound_receipts] ADD  DEFAULT ('auto') FOR [stack_mode]
GO
ALTER TABLE [dbo].[item_allocations] ADD  DEFAULT (getdate()) FOR [allocated_at]
GO
ALTER TABLE [dbo].[item_location_history] ADD  DEFAULT (getdate()) FOR [action_date]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ('rectangle') FOR [shape]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((5)) FOR [priority_level]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((0)) FOR [is_heavy]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((0)) FOR [is_fragile]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((0)) FOR [is_non_stackable]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[outbound_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[outbound_items] ADD  DEFAULT (getdate()) FOR [removed_at]
GO
ALTER TABLE [dbo].[outbound_pallet_picks] ADD  DEFAULT (getdate()) FOR [picked_at]
GO
ALTER TABLE [dbo].[outbound_receipts] ADD  DEFAULT (getdate()) FOR [outbound_date]
GO
ALTER TABLE [dbo].[outbound_receipts] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT ((0)) FOR [rotation_y]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT ((1)) FOR [stack_level]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT ((0)) FOR [is_ground]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[pallet_templates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pallet_templates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pallet_templates] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ((0.15)) FOR [height]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ((1000)) FOR [max_weight]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ((1.5)) FOR [max_stack_height]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_fragile]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_hazardous]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_non_stackable]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[racks] ADD  DEFAULT ((5)) FOR [max_shelves]
GO
ALTER TABLE [dbo].[racks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shelves] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouse_gates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouse_zones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[inbound_item_stack_units]  WITH CHECK ADD  CONSTRAINT [FK_inbound_item_stack_units_inbound_item] FOREIGN KEY([inbound_item_id])
REFERENCES [dbo].[inbound_items] ([inbound_item_id])
GO
ALTER TABLE [dbo].[inbound_item_stack_units] CHECK CONSTRAINT [FK_inbound_item_stack_units_inbound_item]
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD  CONSTRAINT [FK_inbound_items_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[inbound_items] CHECK CONSTRAINT [FK_inbound_items_item]
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD  CONSTRAINT [FK_inbound_items_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[inbound_items] CHECK CONSTRAINT [FK_inbound_items_pallet]
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD  CONSTRAINT [FK_inbound_items_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[inbound_receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[inbound_items] CHECK CONSTRAINT [FK_inbound_items_receipt]
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_inbound_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[inbound_receipts] CHECK CONSTRAINT [FK_inbound_created_by]
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_inbound_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[inbound_receipts] CHECK CONSTRAINT [FK_inbound_customer]
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_inbound_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[inbound_receipts] CHECK CONSTRAINT [FK_inbound_warehouse]
GO
ALTER TABLE [dbo].[item_allocations]  WITH CHECK ADD  CONSTRAINT [FK_item_allocations_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[item_allocations] CHECK CONSTRAINT [FK_item_allocations_item]
GO
ALTER TABLE [dbo].[item_allocations]  WITH CHECK ADD  CONSTRAINT [FK_item_allocations_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[item_allocations] CHECK CONSTRAINT [FK_item_allocations_pallet]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_account] FOREIGN KEY([performed_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_account]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_item]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[pallet_locations] ([location_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_location]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_pallet]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_customer]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_product]
GO
ALTER TABLE [dbo].[outbound_items]  WITH CHECK ADD  CONSTRAINT [FK_outbound_items_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[outbound_items] CHECK CONSTRAINT [FK_outbound_items_item]
GO
ALTER TABLE [dbo].[outbound_items]  WITH CHECK ADD  CONSTRAINT [FK_outbound_items_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[outbound_receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[outbound_items] CHECK CONSTRAINT [FK_outbound_items_receipt]
GO
ALTER TABLE [dbo].[outbound_pallet_picks]  WITH CHECK ADD  CONSTRAINT [FK_outbound_pallet_picks_account] FOREIGN KEY([picked_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[outbound_pallet_picks] CHECK CONSTRAINT [FK_outbound_pallet_picks_account]
GO
ALTER TABLE [dbo].[outbound_pallet_picks]  WITH CHECK ADD  CONSTRAINT [FK_outbound_pallet_picks_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[outbound_pallet_picks] CHECK CONSTRAINT [FK_outbound_pallet_picks_pallet]
GO
ALTER TABLE [dbo].[outbound_pallet_picks]  WITH CHECK ADD  CONSTRAINT [FK_outbound_pallet_picks_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[outbound_receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[outbound_pallet_picks] CHECK CONSTRAINT [FK_outbound_pallet_picks_receipt]
GO
ALTER TABLE [dbo].[outbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_outbound_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[outbound_receipts] CHECK CONSTRAINT [FK_outbound_created_by]
GO
ALTER TABLE [dbo].[outbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_outbound_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[outbound_receipts] CHECK CONSTRAINT [FK_outbound_customer]
GO
ALTER TABLE [dbo].[outbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_outbound_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[outbound_receipts] CHECK CONSTRAINT [FK_outbound_warehouse]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_pallet]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_shelf] FOREIGN KEY([shelf_id])
REFERENCES [dbo].[shelves] ([shelf_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_shelf]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_stacked] FOREIGN KEY([stacked_on_pallet])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_stacked]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_zone] FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([zone_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_zone]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_create_user] FOREIGN KEY([create_user])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_create_user]
GO
ALTER TABLE [dbo].[racks]  WITH CHECK ADD  CONSTRAINT [FK_racks_zone] FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([zone_id])
GO
ALTER TABLE [dbo].[racks] CHECK CONSTRAINT [FK_racks_zone]
GO
ALTER TABLE [dbo].[shelves]  WITH CHECK ADD  CONSTRAINT [FK_shelves_rack] FOREIGN KEY([rack_id])
REFERENCES [dbo].[racks] ([rack_id])
GO
ALTER TABLE [dbo].[shelves] CHECK CONSTRAINT [FK_shelves_rack]
GO
ALTER TABLE [dbo].[warehouse_gates]  WITH CHECK ADD  CONSTRAINT [FK_warehouse_gates_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[warehouse_gates] CHECK CONSTRAINT [FK_warehouse_gates_warehouse]
GO
ALTER TABLE [dbo].[warehouse_zones]  WITH CHECK ADD  CONSTRAINT [FK_zones_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[warehouse_zones] CHECK CONSTRAINT [FK_zones_customer]
GO
ALTER TABLE [dbo].[warehouse_zones]  WITH CHECK ADD  CONSTRAINT [FK_zones_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[warehouse_zones] CHECK CONSTRAINT [FK_zones_warehouse]
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD  CONSTRAINT [FK_warehouses_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[warehouses] CHECK CONSTRAINT [FK_warehouses_owner]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD CHECK  (([role]='customer' OR [role]='warehouse_owner' OR [role]='admin'))
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD CHECK  (([stack_mode]='manual' OR [stack_mode]='auto'))
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD CHECK  (([stack_mode]='manual' OR [stack_mode]='auto'))
GO
ALTER TABLE [dbo].[warehouse_gates]  WITH CHECK ADD CHECK  (([gate_type]='exit' OR [gate_type]='entry'))
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD CHECK  (([warehouse_type]='large' OR [warehouse_type]='medium' OR [warehouse_type]='small'))
GO
USE [master]
GO
