USE [master]
GO
/****** Object:  Database [WarehouseAPI]    Script Date: 1/12/2026 9:33:07 PM ******/
CREATE DATABASE [WarehouseAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WarehouseAPI.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WarehouseAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseAPI]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[checkin_stations]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checkin_stations](
	[station_id] [int] IDENTITY(1,1) NOT NULL,
	[gate_id] [int] NOT NULL,
	[station_name] [nvarchar](200) NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NULL,
	[width] [decimal](10, 2) NULL,
	[height] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inbound_item_stack_units]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inbound_item_stack_units](
	[layout_id] [int] IDENTITY(1,1) NOT NULL,
	[inbound_item_id] [int] NOT NULL,
	[unit_index] [int] NOT NULL,
	[local_x] [decimal](10, 2) NOT NULL,
	[local_y] [decimal](10, 2) NOT NULL,
	[local_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[rotation_y] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[layout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inbound_items]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inbound_items](
	[inbound_item_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[pallet_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[stack_mode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inbound_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inbound_receipts]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inbound_receipts](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[zone_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[receipt_number] [varchar](100) NOT NULL,
	[total_items] [int] NOT NULL,
	[total_pallets] [int] NOT NULL,
	[inbound_date] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[auto_stack_template] [varchar](50) NULL,
	[stack_mode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_allocations]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_allocations](
	[allocation_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[pallet_id] [int] NOT NULL,
	[position_x] [decimal](10, 2) NULL,
	[position_y] [decimal](10, 2) NULL,
	[position_z] [decimal](10, 2) NULL,
	[allocated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[allocation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_location_history]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_location_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[pallet_id] [int] NULL,
	[location_id] [int] NULL,
	[action_type] [varchar](20) NOT NULL,
	[action_date] [datetime2](7) NULL,
	[performed_by] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[qr_code] [varchar](100) NOT NULL,
	[product_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[item_name] [nvarchar](300) NOT NULL,
	[item_type] [varchar](20) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[weight] [decimal](10, 2) NULL,
	[shape] [varchar](20) NOT NULL,
	[priority_level] [int] NOT NULL,
	[is_heavy] [bit] NOT NULL,
	[is_fragile] [bit] NOT NULL,
	[is_non_stackable] [bit] NOT NULL,
	[batch_number] [nvarchar](100) NULL,
	[manufacturing_date] [date] NULL,
	[expiry_date] [date] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[total_amount] [decimal](18, 2) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[outbound_items]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outbound_items](
	[outbound_item_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[removed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[outbound_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[outbound_pallet_picks]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outbound_pallet_picks](
	[pick_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[pallet_id] [int] NOT NULL,
	[picked_at] [datetime2](7) NULL,
	[picked_by] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pick_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[outbound_receipts]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outbound_receipts](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[receipt_number] [varchar](100) NOT NULL,
	[total_items] [int] NOT NULL,
	[outbound_date] [datetime2](7) NULL,
	[completed_date] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pallet_locations]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pallet_locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[pallet_id] [int] NOT NULL,
	[zone_id] [int] NOT NULL,
	[shelf_id] [int] NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[rotation_y] [decimal](10, 4) NOT NULL,
	[stack_level] [int] NOT NULL,
	[stacked_on_pallet] [int] NULL,
	[is_ground] [bit] NOT NULL,
	[assigned_at] [datetime2](7) NULL,
	[location_code]  AS ('LOC-'+right('000000'+CONVERT([varchar](6),[location_id]),(6))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pallet_templates]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pallet_templates](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[template_name] [nvarchar](200) NOT NULL,
	[pallet_type] [nvarchar](50) NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[max_weight] [decimal](10, 2) NOT NULL,
	[max_stack_height] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pallets]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pallets](
	[pallet_id] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [varchar](100) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[max_weight] [decimal](10, 2) NOT NULL,
	[max_stack_height] [decimal](10, 2) NOT NULL,
	[pallet_type] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [varchar](100) NOT NULL,
	[product_name] [nvarchar](300) NOT NULL,
	[description] [nvarchar](max) NULL,
	[unit] [nvarchar](50) NOT NULL,
	[category] [nvarchar](100) NULL,
	[standard_length] [decimal](10, 2) NULL,
	[standard_width] [decimal](10, 2) NULL,
	[standard_height] [decimal](10, 2) NULL,
	[standard_weight] [decimal](10, 2) NULL,
	[is_fragile] [bit] NOT NULL,
	[is_hazardous] [bit] NOT NULL,
	[is_non_stackable] [bit] NOT NULL,
	[storage_conditions] [nvarchar](max) NULL,
	[create_user] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[racks]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[racks](
	[rack_id] [int] IDENTITY(1,1) NOT NULL,
	[zone_id] [int] NOT NULL,
	[rack_name] [nvarchar](200) NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[max_shelves] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[rotation_y] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__racks__6E237EB312680FF6] PRIMARY KEY CLUSTERED 
(
	[rack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shelves]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shelves](
	[shelf_id] [int] IDENTITY(1,1) NOT NULL,
	[rack_id] [int] NOT NULL,
	[shelf_level] [int] NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[max_weight] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[shelf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_gates]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_gates](
	[gate_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[gate_name] [nvarchar](200) NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NULL,
	[width] [decimal](10, 2) NULL,
	[height] [decimal](10, 2) NULL,
	[gate_type] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[gate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_zones]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_zones](
	[zone_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[zone_name] [nvarchar](200) NULL,
	[customer_id] [int] NULL,
	[position_x] [decimal](10, 2) NOT NULL,
	[position_y] [decimal](10, 2) NOT NULL,
	[position_z] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[zone_type] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouses]    Script Date: 1/12/2026 9:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NOT NULL,
	[warehouse_name] [nvarchar](200) NOT NULL,
	[address] [nvarchar](500) NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
	[warehouse_type] [varchar](20) NOT NULL,
	[allowed_item_types] [nvarchar](max) NULL,
	[is_rentable] [bit] NOT NULL,
	[checkin_position_x] [decimal](10, 2) NULL,
	[checkin_position_y] [decimal](10, 2) NULL,
	[checkin_position_z] [decimal](10, 2) NULL,
	[checkin_length] [decimal](10, 2) NULL,
	[checkin_width] [decimal](10, 2) NULL,
	[checkin_height] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([account_id], [username], [password_hash], [full_name], [email], [phone], [role], [created_at], [updated_at], [status]) VALUES (1, N'admin', N'admin123', N'Quản trị hệ thống', N'admin@example.com', N'0900000000', N'admin', CAST(N'2025-12-21T08:50:12.5900000' AS DateTime2), CAST(N'2025-12-21T08:50:12.5900000' AS DateTime2), N'active')
INSERT [dbo].[accounts] ([account_id], [username], [password_hash], [full_name], [email], [phone], [role], [created_at], [updated_at], [status]) VALUES (2, N'chukhoa', N'$2a$11$BWNG5pW0X8ywfQyHsMYUBeEU8sm5kuQoDK40I.c7OA0CcvHskB..2', N'Chủ kho', N'owner@example.com', N'0900000001', N'warehouse_owner', CAST(N'2025-12-21T08:50:12.5900000' AS DateTime2), CAST(N'2025-12-21T08:50:12.5900000' AS DateTime2), N'active')
INSERT [dbo].[accounts] ([account_id], [username], [password_hash], [full_name], [email], [phone], [role], [created_at], [updated_at], [status]) VALUES (3, N'customer_a', N'$2a$11$BWNG5pW0X8ywfQyHsMYUBeEU8sm5kuQoDK40I.c7OA0CcvHskB..2', N'Khách hàng A - Lan', N'customer_a@example.com', N'0900000002', N'customer', CAST(N'2025-12-21T08:50:12.5900000' AS DateTime2), CAST(N'2025-12-21T08:50:12.5900000' AS DateTime2), N'active')
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[checkin_stations] ON 

INSERT [dbo].[checkin_stations] ([station_id], [gate_id], [station_name], [position_x], [position_y], [position_z], [length], [width], [height], [created_at]) VALUES (7, 1, N'Bàn Check-in Cửa Vàng 1', CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(1.20 AS Decimal(10, 2)), CAST(0.60 AS Decimal(10, 2)), CAST(0.75 AS Decimal(10, 2)), CAST(N'2026-01-07T21:08:55.0100000' AS DateTime2))
INSERT [dbo].[checkin_stations] ([station_id], [gate_id], [station_name], [position_x], [position_y], [position_z], [length], [width], [height], [created_at]) VALUES (8, 2, N'Bàn Check-in Cửa Vàng 2', CAST(22.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(1.20 AS Decimal(10, 2)), CAST(0.60 AS Decimal(10, 2)), CAST(0.75 AS Decimal(10, 2)), CAST(N'2026-01-07T21:08:55.0100000' AS DateTime2))
INSERT [dbo].[checkin_stations] ([station_id], [gate_id], [station_name], [position_x], [position_y], [position_z], [length], [width], [height], [created_at]) VALUES (9, 3, N'Bàn Check-in Cửa Đỏ 1', CAST(42.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(1.20 AS Decimal(10, 2)), CAST(0.60 AS Decimal(10, 2)), CAST(0.75 AS Decimal(10, 2)), CAST(N'2026-01-07T21:08:55.0100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[checkin_stations] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[racks] ON 

INSERT [dbo].[racks] ([rack_id], [zone_id], [rack_name], [position_x], [position_y], [position_z], [length], [width], [height], [max_shelves], [created_at], [rotation_y]) VALUES (1, 2, N'Kệ A1', CAST(18.25 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(42.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(1.25 AS Decimal(10, 2)), CAST(7.10 AS Decimal(10, 2)), 4, CAST(N'2026-01-07T21:08:54.9266667' AS DateTime2), CAST(1.57 AS Decimal(10, 2)))
INSERT [dbo].[racks] ([rack_id], [zone_id], [rack_name], [position_x], [position_y], [position_z], [length], [width], [height], [max_shelves], [created_at], [rotation_y]) VALUES (2, 2, N'Kệ A2', CAST(19.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(42.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(1.25 AS Decimal(10, 2)), CAST(7.10 AS Decimal(10, 2)), 4, CAST(N'2026-01-07T21:08:54.9266667' AS DateTime2), CAST(1.57 AS Decimal(10, 2)))
INSERT [dbo].[racks] ([rack_id], [zone_id], [rack_name], [position_x], [position_y], [position_z], [length], [width], [height], [max_shelves], [created_at], [rotation_y]) VALUES (3, 2, N'Kệ A3', CAST(23.75 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(42.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(1.25 AS Decimal(10, 2)), CAST(7.10 AS Decimal(10, 2)), 4, CAST(N'2026-01-07T21:08:54.9266667' AS DateTime2), CAST(1.57 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[racks] OFF
GO
SET IDENTITY_INSERT [dbo].[shelves] ON 

INSERT [dbo].[shelves] ([shelf_id], [rack_id], [shelf_level], [position_y], [length], [width], [max_weight], [created_at]) VALUES (1, 1, 1, CAST(0.10 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(1.25 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), CAST(N'2026-01-07T21:08:54.9333333' AS DateTime2))
INSERT [dbo].[shelves] ([shelf_id], [rack_id], [shelf_level], [position_y], [length], [width], [max_weight], [created_at]) VALUES (2, 1, 2, CAST(1.85 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(1.25 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-01-07T21:08:54.9333333' AS DateTime2))
INSERT [dbo].[shelves] ([shelf_id], [rack_id], [shelf_level], [position_y], [length], [width], [max_weight], [created_at]) VALUES (3, 1, 3, CAST(3.60 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(1.25 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)), CAST(N'2026-01-07T21:08:54.9333333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[shelves] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouse_gates] ON 

INSERT [dbo].[warehouse_gates] ([gate_id], [warehouse_id], [gate_name], [position_x], [position_y], [position_z], [length], [width], [height], [gate_type], [created_at]) VALUES (1, 1, N'Cửa Vàng 1', CAST(8.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), N'exit', CAST(N'2026-01-07T21:08:54.9500000' AS DateTime2))
INSERT [dbo].[warehouse_gates] ([gate_id], [warehouse_id], [gate_name], [position_x], [position_y], [position_z], [length], [width], [height], [gate_type], [created_at]) VALUES (2, 1, N'Cửa Vàng 2', CAST(20.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), N'exit', CAST(N'2026-01-07T21:08:54.9500000' AS DateTime2))
INSERT [dbo].[warehouse_gates] ([gate_id], [warehouse_id], [gate_name], [position_x], [position_y], [position_z], [length], [width], [height], [gate_type], [created_at]) VALUES (3, 1, N'Cửa Đỏ 1', CAST(40.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), N'exit', CAST(N'2026-01-07T21:08:54.9500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[warehouse_gates] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouse_zones] ON 

INSERT [dbo].[warehouse_zones] ([zone_id], [warehouse_id], [zone_name], [customer_id], [position_x], [position_y], [position_z], [length], [width], [height], [zone_type], [created_at]) VALUES (1, 1, N'Khu Rack thành phẩm', 3, CAST(1.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(27.50 AS Decimal(10, 2)), CAST(28.50 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), N'rack', CAST(N'2026-01-07T21:08:54.9266667' AS DateTime2))
INSERT [dbo].[warehouse_zones] ([zone_id], [warehouse_id], [zone_name], [customer_id], [position_x], [position_y], [position_z], [length], [width], [height], [zone_type], [created_at]) VALUES (2, 1, N'Khu Rack nguyên vật liệu', 3, CAST(32.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(27.50 AS Decimal(10, 2)), CAST(65.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), N'rack', CAST(N'2026-01-07T21:08:54.9266667' AS DateTime2))
INSERT [dbo].[warehouse_zones] ([zone_id], [warehouse_id], [zone_name], [customer_id], [position_x], [position_y], [position_z], [length], [width], [height], [zone_type], [created_at]) VALUES (3, 1, N'Khu C - Làm hàng thành phẩm', 3, CAST(2.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(2.50 AS Decimal(10, 2)), CAST(28.00 AS Decimal(10, 2)), CAST(22.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), N'ground', CAST(N'2026-01-07T21:08:54.9266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[warehouse_zones] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouses] ON 

INSERT [dbo].[warehouses] ([warehouse_id], [owner_id], [warehouse_name], [address], [length], [width], [height], [warehouse_type], [allowed_item_types], [is_rentable], [checkin_position_x], [checkin_position_y], [checkin_position_z], [checkin_length], [checkin_width], [checkin_height], [created_at], [status]) VALUES (1, 2, N'Kho SIKV', N'Toà nhà A4 - ĐHHHVN', CAST(100.00 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), N'medium', N'["bag", "box", "pallet"]', 1, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-01-07T21:08:54.9200000' AS DateTime2), N'active')
INSERT [dbo].[warehouses] ([warehouse_id], [owner_id], [warehouse_name], [address], [length], [width], [height], [warehouse_type], [allowed_item_types], [is_rentable], [checkin_position_x], [checkin_position_y], [checkin_position_z], [checkin_length], [checkin_width], [checkin_height], [created_at], [status]) VALUES (2, 2, N'Kho Hoàng Tùng', N'Toà nhà C2 - ĐHHHVN', CAST(32.00 AS Decimal(10, 2)), CAST(33.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), N'small', N'["bag", "pallet"]', 1, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-01-07T21:08:54.9200000' AS DateTime2), N'active')
SET IDENTITY_INSERT [dbo].[warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__F3DBC5726235F990]    Script Date: 1/12/2026 9:33:08 PM ******/
ALTER TABLE [dbo].[accounts] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_item_stack_units_inbound_item]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_item_stack_units_inbound_item] ON [dbo].[inbound_item_stack_units]
(
	[inbound_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__inbound___89FE4B75C6D6EF7A]    Script Date: 1/12/2026 9:33:08 PM ******/
ALTER TABLE [dbo].[inbound_receipts] ADD UNIQUE NONCLUSTERED 
(
	[receipt_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_customer]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_customer] ON [dbo].[inbound_receipts]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_date]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_date] ON [dbo].[inbound_receipts]
(
	[inbound_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inbound_warehouse]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_inbound_warehouse] ON [dbo].[inbound_receipts]
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_item_allocations_pallet]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_item_allocations_pallet] ON [dbo].[item_allocations]
(
	[pallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__items__E2FB8889E361AE6B]    Script Date: 1/12/2026 9:33:08 PM ******/
ALTER TABLE [dbo].[items] ADD UNIQUE NONCLUSTERED 
(
	[qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_items_customer]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_items_customer] ON [dbo].[items]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_items_product]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_items_product] ON [dbo].[items]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_outbound_pallet_picks_receipt_pallet]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_outbound_pallet_picks_receipt_pallet] ON [dbo].[outbound_pallet_picks]
(
	[receipt_id] ASC,
	[pallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__outbound__89FE4B75A9B39060]    Script Date: 1/12/2026 9:33:08 PM ******/
ALTER TABLE [dbo].[outbound_receipts] ADD UNIQUE NONCLUSTERED 
(
	[receipt_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pallet_locations_shelf]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_pallet_locations_shelf] ON [dbo].[pallet_locations]
(
	[shelf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pallet_locations_zone]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_pallet_locations_zone] ON [dbo].[pallet_locations]
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pallets__C16E36F89E373A6A]    Script Date: 1/12/2026 9:33:08 PM ******/
ALTER TABLE [dbo].[pallets] ADD UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__AE1A8CC42D91A4C2]    Script Date: 1/12/2026 9:33:08 PM ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_products_category]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_category] ON [dbo].[products]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_racks_zone]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_racks_zone] ON [dbo].[racks]
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_shelves_rack]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_shelves_rack] ON [dbo].[shelves]
(
	[rack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_shelf_level]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_shelf_level] ON [dbo].[shelves]
(
	[rack_id] ASC,
	[shelf_level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_zones_customer]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_zones_customer] ON [dbo].[warehouse_zones]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_zones_warehouse]    Script Date: 1/12/2026 9:33:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_zones_warehouse] ON [dbo].[warehouse_zones]
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[checkin_stations] ADD  DEFAULT ((1.2)) FOR [length]
GO
ALTER TABLE [dbo].[checkin_stations] ADD  DEFAULT ((0.6)) FOR [width]
GO
ALTER TABLE [dbo].[checkin_stations] ADD  DEFAULT ((0.75)) FOR [height]
GO
ALTER TABLE [dbo].[checkin_stations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[inbound_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[inbound_items] ADD  DEFAULT ('auto') FOR [stack_mode]
GO
ALTER TABLE [dbo].[inbound_receipts] ADD  DEFAULT (getdate()) FOR [inbound_date]
GO
ALTER TABLE [dbo].[inbound_receipts] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[inbound_receipts] ADD  DEFAULT ('auto') FOR [stack_mode]
GO
ALTER TABLE [dbo].[item_allocations] ADD  DEFAULT (getdate()) FOR [allocated_at]
GO
ALTER TABLE [dbo].[item_location_history] ADD  DEFAULT (getdate()) FOR [action_date]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ('rectangle') FOR [shape]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((5)) FOR [priority_level]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((0)) FOR [is_heavy]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((0)) FOR [is_fragile]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((0)) FOR [is_non_stackable]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[outbound_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[outbound_items] ADD  DEFAULT (getdate()) FOR [removed_at]
GO
ALTER TABLE [dbo].[outbound_pallet_picks] ADD  DEFAULT (getdate()) FOR [picked_at]
GO
ALTER TABLE [dbo].[outbound_receipts] ADD  DEFAULT (getdate()) FOR [outbound_date]
GO
ALTER TABLE [dbo].[outbound_receipts] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT ((0)) FOR [rotation_y]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT ((1)) FOR [stack_level]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT ((0)) FOR [is_ground]
GO
ALTER TABLE [dbo].[pallet_locations] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[pallet_templates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pallet_templates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pallet_templates] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ((0.15)) FOR [height]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ((1000)) FOR [max_weight]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ((1.5)) FOR [max_stack_height]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pallets] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_fragile]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_hazardous]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_non_stackable]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[racks] ADD  CONSTRAINT [DF__racks__max_shelv__5165187F]  DEFAULT ((5)) FOR [max_shelves]
GO
ALTER TABLE [dbo].[racks] ADD  CONSTRAINT [DF__racks__created_a__52593CB8]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shelves] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouse_gates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouse_zones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT ((1)) FOR [is_rentable]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[checkin_stations]  WITH CHECK ADD  CONSTRAINT [FK_checkin_stations_gate] FOREIGN KEY([gate_id])
REFERENCES [dbo].[warehouse_gates] ([gate_id])
GO
ALTER TABLE [dbo].[checkin_stations] CHECK CONSTRAINT [FK_checkin_stations_gate]
GO
ALTER TABLE [dbo].[inbound_item_stack_units]  WITH CHECK ADD  CONSTRAINT [FK_inbound_item_stack_units_inbound_item] FOREIGN KEY([inbound_item_id])
REFERENCES [dbo].[inbound_items] ([inbound_item_id])
GO
ALTER TABLE [dbo].[inbound_item_stack_units] CHECK CONSTRAINT [FK_inbound_item_stack_units_inbound_item]
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD  CONSTRAINT [FK_inbound_items_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[inbound_items] CHECK CONSTRAINT [FK_inbound_items_item]
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD  CONSTRAINT [FK_inbound_items_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[inbound_items] CHECK CONSTRAINT [FK_inbound_items_pallet]
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD  CONSTRAINT [FK_inbound_items_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[inbound_receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[inbound_items] CHECK CONSTRAINT [FK_inbound_items_receipt]
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_inbound_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[inbound_receipts] CHECK CONSTRAINT [FK_inbound_created_by]
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_inbound_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[inbound_receipts] CHECK CONSTRAINT [FK_inbound_customer]
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_inbound_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[inbound_receipts] CHECK CONSTRAINT [FK_inbound_warehouse]
GO
ALTER TABLE [dbo].[item_allocations]  WITH CHECK ADD  CONSTRAINT [FK_item_allocations_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[item_allocations] CHECK CONSTRAINT [FK_item_allocations_item]
GO
ALTER TABLE [dbo].[item_allocations]  WITH CHECK ADD  CONSTRAINT [FK_item_allocations_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[item_allocations] CHECK CONSTRAINT [FK_item_allocations_pallet]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_account] FOREIGN KEY([performed_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_account]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_item]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[pallet_locations] ([location_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_location]
GO
ALTER TABLE [dbo].[item_location_history]  WITH CHECK ADD  CONSTRAINT [FK_item_location_history_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[item_location_history] CHECK CONSTRAINT [FK_item_location_history_pallet]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_customer]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_product]
GO
ALTER TABLE [dbo].[outbound_items]  WITH CHECK ADD  CONSTRAINT [FK_outbound_items_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[outbound_items] CHECK CONSTRAINT [FK_outbound_items_item]
GO
ALTER TABLE [dbo].[outbound_items]  WITH CHECK ADD  CONSTRAINT [FK_outbound_items_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[outbound_receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[outbound_items] CHECK CONSTRAINT [FK_outbound_items_receipt]
GO
ALTER TABLE [dbo].[outbound_pallet_picks]  WITH CHECK ADD  CONSTRAINT [FK_outbound_pallet_picks_account] FOREIGN KEY([picked_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[outbound_pallet_picks] CHECK CONSTRAINT [FK_outbound_pallet_picks_account]
GO
ALTER TABLE [dbo].[outbound_pallet_picks]  WITH CHECK ADD  CONSTRAINT [FK_outbound_pallet_picks_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[outbound_pallet_picks] CHECK CONSTRAINT [FK_outbound_pallet_picks_pallet]
GO
ALTER TABLE [dbo].[outbound_pallet_picks]  WITH CHECK ADD  CONSTRAINT [FK_outbound_pallet_picks_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[outbound_receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[outbound_pallet_picks] CHECK CONSTRAINT [FK_outbound_pallet_picks_receipt]
GO
ALTER TABLE [dbo].[outbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_outbound_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[outbound_receipts] CHECK CONSTRAINT [FK_outbound_created_by]
GO
ALTER TABLE [dbo].[outbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_outbound_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[outbound_receipts] CHECK CONSTRAINT [FK_outbound_customer]
GO
ALTER TABLE [dbo].[outbound_receipts]  WITH CHECK ADD  CONSTRAINT [FK_outbound_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[outbound_receipts] CHECK CONSTRAINT [FK_outbound_warehouse]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_pallet] FOREIGN KEY([pallet_id])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_pallet]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_shelf] FOREIGN KEY([shelf_id])
REFERENCES [dbo].[shelves] ([shelf_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_shelf]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_stacked] FOREIGN KEY([stacked_on_pallet])
REFERENCES [dbo].[pallets] ([pallet_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_stacked]
GO
ALTER TABLE [dbo].[pallet_locations]  WITH CHECK ADD  CONSTRAINT [FK_pallet_locations_zone] FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([zone_id])
GO
ALTER TABLE [dbo].[pallet_locations] CHECK CONSTRAINT [FK_pallet_locations_zone]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_create_user] FOREIGN KEY([create_user])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_create_user]
GO
ALTER TABLE [dbo].[racks]  WITH CHECK ADD  CONSTRAINT [FK_racks_zone] FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([zone_id])
GO
ALTER TABLE [dbo].[racks] CHECK CONSTRAINT [FK_racks_zone]
GO
ALTER TABLE [dbo].[shelves]  WITH CHECK ADD  CONSTRAINT [FK_shelves_rack] FOREIGN KEY([rack_id])
REFERENCES [dbo].[racks] ([rack_id])
GO
ALTER TABLE [dbo].[shelves] CHECK CONSTRAINT [FK_shelves_rack]
GO
ALTER TABLE [dbo].[warehouse_gates]  WITH CHECK ADD  CONSTRAINT [FK_warehouse_gates_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[warehouse_gates] CHECK CONSTRAINT [FK_warehouse_gates_warehouse]
GO
ALTER TABLE [dbo].[warehouse_zones]  WITH CHECK ADD  CONSTRAINT [FK_zones_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[warehouse_zones] CHECK CONSTRAINT [FK_zones_customer]
GO
ALTER TABLE [dbo].[warehouse_zones]  WITH CHECK ADD  CONSTRAINT [FK_zones_warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[warehouse_zones] CHECK CONSTRAINT [FK_zones_warehouse]
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD  CONSTRAINT [FK_warehouses_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[warehouses] CHECK CONSTRAINT [FK_warehouses_owner]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD CHECK  (([role]='customer' OR [role]='warehouse_owner' OR [role]='admin'))
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[inbound_items]  WITH CHECK ADD CHECK  (([stack_mode]='manual' OR [stack_mode]='auto'))
GO
ALTER TABLE [dbo].[inbound_receipts]  WITH CHECK ADD CHECK  (([stack_mode]='manual' OR [stack_mode]='auto'))
GO
ALTER TABLE [dbo].[warehouse_gates]  WITH CHECK ADD CHECK  (([gate_type]='exit' OR [gate_type]='entry'))
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD CHECK  (([warehouse_type]='large' OR [warehouse_type]='medium' OR [warehouse_type]='small'))
GO
USE [master]
GO
